<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<listener>
		<listener-class>org.zero.listener.ApplicationListener</listener-class>
	</listener>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.zero.filter.AuthFilter</filter-class>
	</filter>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>org.zero.filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/feature/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.zero.servlet.web.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendCode</servlet-name>
		<servlet-class>org.zero.servlet.web.sms.SendCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.zero.servlet.web.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>org.zero.servlet.web.user.GetUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetExhibition</servlet-name>
		<servlet-class>org.zero.servlet.web.exhibition.GetExhibition</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetActivities</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.GetActivities</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTracks</servlet-name>
		<servlet-class>org.zero.servlet.web.tracks.GetTracks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.zero.servlet.web.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>org.zero.servlet.web.user.EditUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecordTrack</servlet-name>
		<servlet-class>org.zero.servlet.web.tracks.RecordTrack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Join</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.Join</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Buy</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.Buy</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetStage</servlet-name>
		<servlet-class>org.zero.servlet.web.stage.GetStage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTickets</servlet-name>
		<servlet-class>org.zero.servlet.web.ticket.GetTickets</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotifyViaAlipay</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.NotifyViaAlipay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReturnViaAlipay</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.ReturnViaAlipay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendQRCode</servlet-name>
		<servlet-class>org.zero.servlet.web.mms.SendQRCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetInvoice</servlet-name>
		<servlet-class>org.zero.servlet.web.activity.GetInvoice</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>NotifyViaWx</servlet-name>
    <servlet-class>org.zero.servlet.web.activity.NotifyViaWx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WxPayCheck</servlet-name>
    <servlet-class>org.zero.servlet.web.wechat.WxPayCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>org.zero.servlet.web.ResetPassword</servlet-class>
  </servlet>





















	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendCode</servlet-name>
		<url-pattern>/SendCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/GetUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetExhibition</servlet-name>
		<url-pattern>/GetExhibition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetActivities</servlet-name>
		<url-pattern>/GetActivities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTracks</servlet-name>
		<url-pattern>/GetTracks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordTrack</servlet-name>
		<url-pattern>/RecordTrack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Join</servlet-name>
		<url-pattern>/Join</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Buy</servlet-name>
		<url-pattern>/Buy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStage</servlet-name>
		<url-pattern>/GetStage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTickets</servlet-name>
		<url-pattern>/GetTickets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotifyViaAlipay</servlet-name>
		<url-pattern>/NotifyViaAlipay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnViaAlipay</servlet-name>
		<url-pattern>/ReturnViaAlipay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendQRCode</servlet-name>
		<url-pattern>/SendQRCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetInvoice</servlet-name>
		<url-pattern>/GetInvoice</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotifyViaWx</servlet-name>
    <url-pattern>/NotifyViaWx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WxPayCheck</servlet-name>
    <url-pattern>/WxPayCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- 展会信息 -->
	<context-param>
		<param-name>ActivedExhibitionId</param-name>
		<param-value>1</param-value>
	</context-param>

	<!--  短信发送参数 -->
	<context-param>
		<param-name>clientId</param-name>
		<param-value>9169</param-value>
	</context-param>
	<context-param>
		<param-name>loginName</param-name>
		<param-value>shsms</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>smstgb32</param-value>
	</context-param>
	<context-param>
		<param-name>serverIp</param-name>
		<param-value>58.68.247.137</param-value>
	</context-param>
	<context-param>
		<param-name>serverPort</param-name>
		<param-value>1236</param-value>
	</context-param>
	<context-param>
		<param-name>productID</param-name>
		<param-value>201585131</param-value>
	</context-param>

	<!-- 支付宝参数 -->
	<context-param>
		<param-name>alipay_pid</param-name>
		<param-value>2088021468821246</param-value>
	</context-param>
	<context-param>
		<param-name>alipay_email</param-name>
		<param-value>3250741387@qq.com</param-value>
	</context-param>
	<context-param>
		<param-name>alipay_key</param-name>
		<param-value>4uulhlqlbrbl4bywi68i9rubv2thyjkz</param-value>
	</context-param>
	<context-param>
		<param-name>alipay_notify_url</param-name>
		<param-value>http://localhost:8080/SmartDoor/NotifyViaAlipay</param-value>
	</context-param>
	<context-param>
		<param-name>alipay_return_url</param-name>
		<param-value>http://localhost:8080/SmartDoor/ReturnViaAlipay</param-value>
	</context-param>
	<!-- 微信参数 -->
	<context-param>
		<param-name>wx_appid</param-name>
		<param-value>wx2428e34e0e7dc6ef</param-value>
	</context-param>
	<context-param>
		<param-name>wx_mchid</param-name>
		<param-value>1233410002</param-value>
	</context-param>
	<context-param>
		<param-name>wx_key</param-name>
		<param-value>e10adc3849ba56abbe56e056f20f883e</param-value>
	</context-param>
	<context-param>
		<param-name>wx_appsecret</param-name>
		<param-value>51c56b886b5be869567dd389b3e5d1d6</param-value>
	</context-param>
	<context-param>
		<param-name>wx_sslcert_path</param-name>
		<param-value>apiclient_cert.p12</param-value>
	</context-param>
	<context-param>
		<param-name>wx_sslcert_password</param-name>
		<param-value>1233410002</param-value>
	</context-param>
	<context-param>
		<param-name>wx_notify_url</param-name>
		<param-value>http://localhost:8080/SmartDoor/NotifyViaWx</param-value>
	</context-param>
	<context-param>
		<param-name>wx_oauth_redirect_url</param-name>
		<param-value>http://localhost:8080/SmartDoor/feature/WxJsPay.jsp</param-value>
	</context-param>
	<context-param>
		<param-name>wx_ip</param-name>
		<param-value>8.8.8.8</param-value>
	</context-param>
	<context-param>
		<param-name>wx_proxy_url</param-name>
		<param-value>http://10.152.18.220:8080</param-value>
	</context-param>
</web-app>
