<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ActivedExhibitionId</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>clientId</param-name>
    <param-value>9169</param-value>
  </context-param>
  <context-param>
    <param-name>loginName</param-name>
    <param-value>shsms</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>smstgb32</param-value>
  </context-param>
  <context-param>
    <param-name>serverIp</param-name>
    <param-value>58.68.247.137</param-value>
  </context-param>
  <context-param>
    <param-name>serverPort</param-name>
    <param-value>1236</param-value>
  </context-param>
  <context-param>
    <param-name>productID</param-name>
    <param-value>201585131</param-value>
  </context-param>
  <context-param>
    <param-name>alipay_pid</param-name>
    <param-value>2088021468821246</param-value>
  </context-param>
  <context-param>
    <param-name>alipay_email</param-name>
    <param-value>3250741387@qq.com</param-value>
  </context-param>
  <context-param>
    <param-name>alipay_key</param-name>
    <param-value>4uulhlqlbrbl4bywi68i9rubv2thyjkz</param-value>
  </context-param>
  <context-param>
    <param-name>alipay_notify_url</param-name>
    <param-value>http://www.resss.com/SmartDoor/NotifyViaAlipay</param-value>
  </context-param>
  <context-param>
    <param-name>alipay_return_url</param-name>
    <param-value>http://www.resss.com/SmartDoor/ReturnViaAlipay</param-value>
  </context-param>
  <context-param>
    <param-name>wx_appid</param-name>
    <param-value>wx744a5f3859265b34</param-value>
  </context-param>
  <context-param>
    <param-name>wx_mchid</param-name>
    <param-value>1264712401</param-value>
  </context-param>
  <context-param>
    <param-name>wx_key</param-name>
    <param-value>zhizhanlianmeng2tshanghairuiruan</param-value>
  </context-param>
  <context-param>
    <param-name>wx_appsecret</param-name>
    <param-value>30f603652cb84d9f736190180bf8f58c</param-value>
  </context-param>
  <context-param>
    <param-name>wx_sslcert_path</param-name>
    <param-value>apiclient_cert.p12</param-value>
  </context-param>
  <context-param>
    <param-name>wx_sslcert_password</param-name>
    <param-value>1233410002</param-value>
  </context-param>
  <context-param>
    <param-name>wx_notify_url</param-name>
    <param-value>http://www.resss.com/SmartDoor/NotifyViaWx</param-value>
  </context-param>
  <context-param>
    <param-name>wx_ip</param-name>
    <param-value>8.8.8.8</param-value>
  </context-param>
  <context-param>
    <param-name>wx_proxy_url</param-name>
    <param-value>http://10.152.18.220:8080</param-value>
  </context-param>
</web-app>